<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]PortFolio</title>
    <link rel="icon" type="image/x-icon" href="~/proto-2.ico" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <script src="https://kit.fontawesome.com/18b65a3ec1.js" crossorigin="anonymous"></script><!--icon-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/resume.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortFolio.styles.css" asp-append-version="true" />
</head>
<body>

    <main class="main">
        @RenderBody()
    </main>

    <br/>
    <br/>
    <br/>
    
    <footer class="footer-text-custom">
        <div class="text-footer">
            <p>
                The frontend implementation was inspired by Abhinav Jaiswal <a href="https://iabhinav.me/" target="_blank">(https://iabhinav.me/).</a> <br/>
                Thanks to emmabostian for sharing a collection of developer portfolios that provided further inspiration. <a href="https://github.com/emmabostian/developer-portfolios" target="_blank">(https://github.com/emmabostian/developer-portfolios).</a>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
