<div id="chatting-order" class="chatting-order">
    <div id="chat"></div>
    <form class="input-zone" onsubmit="send(); return false;">
        <input id="input" type="text" placeholder="Type a message..." required/>
        <button type="submit">Send</button>
    </form>
</div>