.section-project
{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.project-zone
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    place-items: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
    /*border: black 1px solid; */
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

.project-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 260px;
    margin: 5px;
    border-radius: 10px;
    /*background-color: white;*/
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

.description
{
    width: 90%;
}

.proyect-name
{
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.proyect-name:hover
{
    color: #b6b6b6;
}

.characteristics
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1px;
}

.project-image
{
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}