html {
  font-size: 14px;
}

:root {
  --border-color_default: #383838;
  --background-nav-card: hsla(240, 1%, 17%, 0.75);
  --background-card: hsl(0, 0%, 13%);
}


body {
  background: #2d2c3e;
  color: white;
  width: 100%;
  height: 100%;
}

main
{
  width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.element-center
{
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
  max-width: 100%;
  gap: 25px;
}


.info-card
{
  width: 100%;
  height: 100%;
  padding: 40px;
}

/* user-car_____________________________________________ */
.user-card
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 50px;
  margin-bottom: 0;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid;
  max-height: max-content;
  border-color: var(--border-color_default);
  background-color: var(--background-card);  
  z-index: 1;
}

.avatar-zone
{
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.avatar
{
  width: 170px;
  min-width: 80px;
  border-radius: 10px;
}

.name-prof
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.name {font-family: "Times New Roman", Times, serif;}

.profession
{
  font-family: "Lucida Console", "Courier New", monospace;
  margin-bottom: 0;
}

.contact-zone
{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.infocontact
{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.contact-text
{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.icon-avatar
{
  font-size: 30px;
}

.label-contact
{
  margin: 0;
  font-size: 70%;
  color: rgb(129, 129, 129);
}

.label-contact-value
{
  margin: 0;
  font-size: 80%;
  text-decoration: none;
  color: white;
}

.label-contact-value:hover
{
  margin: 0;
  font-size: 80%;
  text-decoration: none;
  color: var(--border-color_default);
}

.lick-social
{
  display: flex;
  width: 100%;
  margin-top: 5px;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px){
  .lick-social
{
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
}

.social-link-icon
{
  color: white;
  font-size: 30px;
}

.social-link-icon:hover
{
  color: var(--border-color_default);
  font-size: 30px;
}
/* user-car_____________________________________________ */

hr{ color: white; }

.main-content 
{
  min-width: 75%;
  width: 75%;
  margin: 0;
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--border-color_default);
  background-color: var(--background-card);  
}

.navbar-card 
{
  font-size: 22px;
  position: relative;
  bottom: auto;
  top: -1px;
  right: 1px;
  padding: 10px;
  width: max-content;
  border-radius: 20px 0px 20px 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--border-color_default);
  background-color: var(--background-nav-card);
  box-shadow: none;
}

.navbar-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 0;
  gap: 17px;
}

.nav-item
{
  display: list-item;
  list-style: none;
  text-align: center;
}

.nav-item:hover
{
  color: #b6b6b6;
}

html {
  flex: 1;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer-text-custom
{
  display: flex;
  position: absolute;
  bottom: 100;
  background-color: #272727;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 2px solid;
  color: rgb(172, 171, 171);
  border-color: rgb(66, 66, 66);
  padding: 10px;
}

.text-footer
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-footer p
{
  margin: 0;
}


@media (max-width: 1100px) {
  .element-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

  .main-content 
  {
    width: 90%;
  }

  .user-card
  {
    width: 90%;
  }

  .avatar-zone {
    display: flex;
    margin-inline: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

/*chatbot _____________________________*/

.chat-bot
{
  position: fixed;
  background-color: #212121;
  border-radius: 5px 5px 5px 5px;
  font-size: 100%;
  height: max-content;
  right: 1%;
  top: 60%;
  z-index: 1;

}

.title-chat
{
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  flex-direction: row;
  background-color: #004b9b;
}

.show-buton
{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 100%;
}

.title-bot
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatting-order
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 85%;

  scale: 1;
  transition: scale .3s ease-in-out;

  @starting-style {
    scale: 0;
  }
}

.chatting-order.hide
{
  scale: 0;
  transition: scale .3s ease-in-out;

  @starting-style {
    scale: 1; 
  }
}

#chat 
{ 
  width: 100%; 
  height: 200px;
  overflow-x: hidden;
  border: 1px solid #383838;
  background-color: #212121;
  
}
/*chatbot____________________________________________*/
#chat .item 
{
  display: flex;

  margin: 10px 0;
}

#chat .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  font-size: 190%;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

#chat .item .msg 
{
  background: #007bff;
  padding: 5px;
  word-wrap: break-word;   /* break long words */
  overflow-wrap: break-word;
  color: white;
  border-radius: 10px;
  max-width: 150px;
  margin-left: 10px;
}

/*chatbot_end________________________________________*/

/*chatuser____________________________________________*/

#chat .item-right 
{
  display: flex;
  justify-content: end;
  align-items: center;
  justify-items: center;
  width: 100%;
}

#chat .item-right .msg 
{
  margin-right: 3px;
  padding: 5px;
  border-radius: 10px;
  max-width: 150px;
  background: #efefef;
  width: max-content;
  word-wrap: break-word;   /* break long words */
  overflow-wrap: break-word;
  color: #333;
}

/*chatuser_end________________________________________*/

.input-zone
{
  padding: 5px;
  background: #7a7a7a;
}

.input-zone #input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
}

.input-zone #input:focus {
    border-color: #007bff;
}

.input-zone button {
    position: absolute;
    top: 90%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #007bff;
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all ease;
}

.input-zone button:hover {
    background: #007bff;
    color: white;
}

.input-zone #input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}


/*chatbot _____________________________*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}