@{
    ViewData["Title"] = "Home Page";
}

<div class="element-center">


    <div class="main-content">
        <nav class="navbar-card">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Portfolio">About</a>
                    </li>

                    <li class="nav-item"></li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Resume</a>
                    </li>

                    <li class="nav-item"></li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Contact</a>
                    </li>

                </ul>
        </nav>
        <h2 class="subtitle">Subtitle</h2>
        <p class="description">This is a description of the portfolio page.</p>
    </div>

    <aside class="user-card">
        <img src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" alt="Portfolio Image" class="img-fluid" />
        <h1 class = "name">name</h1>
        <hr/>
    </aside>
    
</div>